<div class="container-fluid landing-page">	
	<div class="row">
		<div class="main-wrapper">
			<div class="container">
			  <div class="logo-container">
						<div>
							<img src="assets/img/logo.png" alt="Logo" />
						</div>
				</div>
				<div class="welcome-text">
						<h3>WELCOME TO MIND MAX</h3>
                        <a [routerLink]="['/home']" class="enter-btn" >Enter</a>
					</div>
				</div>    	
			</div>    	
	</div>
</div>
